<app-nav></app-nav>
<div class="container">
  <div class="login-form">
    <div class="col-md-6 col-md-offset-3">
      <h2>Register</h2>
      <form (ngSubmit)="register()">
        <div class="alert alert-success" role="alert" [hidden]="!success">
          <strong>Nice!</strong> You successfully made an account.
        </div>
        <div class="alert alert-danger" role="alert" [hidden]="notRegistered">
          <strong>Oh snap!</strong> This email is already registered.
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name" [(ngModel)]="model.name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" id="email" [(ngModel)]="model.email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" required>
        </div>
        <div class="form-group">
          <a href="login">I already have an account.</a>
        </div>
        <button class="btn btn-main register">Sign Up</button>
      </form>
    </div>
  </div>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="text-center">
    <p>Copyright &copy; StackSloth 2017.</p>
  </div>
</footer>